.text1 {
  width: 100%;
  color: yellow;
  font-size: 25px;
  padding-top: 7.5%;
  padding-right: 5%;
  font-family: "Germania One";
}

#imageContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.photo {
  position: absolute;
  width: 450px;
  height: 350px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding: 100px;
}

.photo.active {
  opacity: 1;
}

.coteinerDescription {
  display: flex;
  align-content: center;
}

#map {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

#map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.conteinerContact {
  max-height: 500px;
  color: yellow;
  font-family: "Rye", serif;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding-top: 20px;
}


